<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetterReminders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BetterReminders.Properties.Settings>
            <setting name="defaultReminderSecs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="playSoundOnReminder" serializeAs="String">
                <value>(default)</value>
            </setting>
            <setting name="mruSnoozeTimes" serializeAs="String">
                <value />
            </setting>
            <setting name="searchFrequencySecs" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="meetingUrlRegex" serializeAs="String">
                <value />
            </setting>
        </BetterReminders.Properties.Settings>
    </userSettings>
</configuration>